:root{
  --negro: rgba(4, 4, 4);
  --gris: rgba(43, 42, 47);
  --1: #878295;
  --2: #A19FA1;
  --3: #312A24;
  --bg: #DECAC2;
  --box-shadow: 0 .5em 1em rgba(4, 4, 4, .5);
}

body{
  font-family: montserrat;
  /* background-color: var(--negro); */
}

/* comienzo menu */
.nav__logo{
  width: 70px;
  background-size: cover;
}

a{
  text-decoration: 0;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gris);
  position: sticky; 
  top: 0;
  
}
.nav__a{
  font-size: .8em;
  padding: 1em;
  color: #fff;
}

.nav__a:hover{
  background-color: #fff;
  border-radius: 1em;
  color: var(--gris);
}
/* fin menu */



/* code basico containers   */
.title{
  text-align: center;
  border-radius: 1em;
  padding: .5em;
}

.group__title{
  background-color: var(--gris);
  color: #fff;
}

.gacetilla, .galeria, .contacto, .form{
  padding: 15px 5%;
}



/* fin style title */




/* comienzo header */
.header__image{
  margin: 10px;
  /* padding: 15px 5%; */
  height: 60vh;
  background-image: url(/imagenes/_DSC6897.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 660px){
  .header__image{
    height: 90vh;
    margin: 2em;
    background-position: top
  }
}

.header__title{
  letter-spacing: 10px;
  color: var(--gris);
  background-color: #fff;
  font-weight: 900;
}
/* fin header */




/* comienzo gacetilla */



.group__text{
  font-weight: 300;
  line-height: 1.5;
  color: var(--gris);
}

.text__container{
  padding: .5em 2em;
}

/* fin gacetilla */


/* comienzo galeria */


.galeria__imagenes{
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 1em;
 
  padding: 20px
}

.galeria__imagen{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  
}

.galeria__imagen:nth-child(1){
  grid-row-start: span 2;
}

.galeria__imagen:nth-child(7){
  grid-column-start: span 2;
}

@media (min-width: 768px){
  .galeria__imagenes{
    grid-template-columns:  repeat(4 , 1fr);
  }

  .galeria__imagen:nth-child(1){
    grid-row-start: span 3;
  }
  


  /* tamaño ipad */
  @media (min-width: 768px){
  .galeria__imagenes{
    grid-template-columns:  repeat(4 , 1fr);
  }

  .galeria__imagen:nth-child(1){
    grid-row-start: span 3;
  }
  
  .galeria__imagen:nth-child(5){
    grid-column-start: span 2;
    grid-row-start:span 2;
  }
}
}
/* tamaño escritorio */
@media (min-width: 1024px){
  .galeria__imagenes{
    grid-template-columns:  repeat(5 , 1fr);
  }

  .galeria__imagen:nth-child(1){
    grid-row-start: span 3;
  }
  
  .galeria__imagen:nth-child(6){
    grid-column-start: span 2;
    grid-row-start:span 2;
  }

  .galeria__imagen:nth-child(4){
    grid-column-start: span 2;
    
  }
}

/* fin galeria */




/* start contact */

.formulario{
  width: 100%;
  background-color: var(--gris);
  color: #fff;
  padding: .5em;
  margin: .3em;
  outline: none;
  border: 0;
  font-weight: 300;
  font-style: italic ;
  text-align: center;
  border-bottom: 3px solid --3;
}

textarea{
  height: 8em;
}

.button{
 background-color: #fff;
 border: 3px solid var(--gris);
 border-radius: 1em;
 color: var(--gris);
}

.button:hover{
  letter-spacing: 10px;
  transition: 1s ease-in;
}
/* end contact */